<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tarefa ({{ size }})</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <img [src]="cameraData" *ngIf="cameraData">

  <ion-textarea placeholder="Digite uma tarefa" rows="5" [(ngModel)]="txtTarefa" > 

  </ion-textarea>
  
  <p *ngIf="marker">Local selecionado: {{marker.latitude}} {{marker.longitude}}</p>


  <button ion-button block color="dark" (click)="openCamera()" >Tirar uma foto</button>
  <button ion-button block color="dark" (click)="openMap()" >Selecionar local no mapa</button>
  <button ion-button block (click)="salvarTarefa()" *ngIf="showSalvarBtn">Salvar Tarefa</button>
  <button ion-button block (click)="salvarTarefa()" *ngIf="showEditarBtn">Editar Tarefa</button>
</ion-content>


